<div class="container">

    <h3 class="page-header">
        Atos
        <small>
            <a ui-sref="actcreate" id="create-act-button" class="btn btn-default btn-sm">Criar ato</a>
            <button id="logout-button" ng-click="doLogout()" class="btn btn-danger btn-sm pull-right">Sair</button>
        </small>
    </h3>

    <div class="row">
        <div class="col-md-6"  ng-repeat="act in acts | orderBy: '_id' : true" style="margin-top: 5px">
            <md-card ng-class="act.type == 1 ? 'bg-success' : 'bg-danger'" style="margin: 0; padding: 10px;">
                <md-card-title>
                    <md-card-title-text>
                        <span  ng-if="act.state != 'closed'"class="md-headline">{{act.username}}</span>
                        <del  ng-if="act.state == 'closed'" class="md-headline">{{act.username}}</del>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    <h3 ng-if="!act.isAnonymous">Aberto por {{act.createdBy}}</h3>
                    <h3 ng-if="act.isAnonymous">Aberto por Anônimo (a.k.a Covarde)</h3>
                    <p>
                        {{act.act}}
                    </p>
                </md-card-content>

                <md-card-actions layout="row">
                    <uib-accordion>

                        <uib-accordion-group heading="Avaliar" is-open="accordion.open" is-disabled="disableIfEvaluated(act)" panel-class="panel-primary"  data-value="{{act._id}}">

                            <p>Avalie aqui seu coleguinha</p>
                            <md-input-container flex>
                                <label>Nota</label>
                                <md-select id="select-{{act._id}}" ng-if="act.type == 1" ng-model="evaluation.grade">
                                    <md-option ng-repeat="nota in goodGrades" value="{{nota.value}}">
                                        {{nota.text}}
                                    </md-option>
                                </md-select>
                                <md-select id="select-{{act._id}}" ng-if="act.type == -1" ng-model="evaluation.grade">
                                    <md-option ng-repeat="nota in badGrades" value="{{nota.value}}">
                                        {{nota.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-switch id="anonymous-{{act._id}}" ng-model="evaluation.anonymous" aria-label="Anônimo" id="anonymous-switch">
                                Anônimo
                            </md-switch>
                            <button id="avaliate-{{act._id}}"class="btn btn-primary" ng-click="evaluateFriend(act)">Avaliar</button>
                        </uib-accordion-group>
                        <uib-accordion-group heading="Ver avaliações" panel-class="panel-default">
                            <div ng-repeat="eval in act.evaluations">
                                <label ng-if="eval.anonymous == 'false'">{{eval.userGrade}}</label>
                                <label ng-if="eval.anonymous == 'true'">Anônimo</label>
                                <span>{{eval.grade}}</span>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </md-card-actions>
            </md-card>
        </div>
    </div>




</div>