<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Entre no RPG :D</h2>
        <label for="login" class="sr-only">Login</label>
        <input type="text" ng-model="login" id="login" class="form-control" placeholder="Login" >
        <label for="password" class="sr-only">Senha</label>
        <input type="password" ng-model="pass" id="password" class="form-control" placeholder="Senha" >

        <button id="login-button" class="btn btn-lg btn-success btn-block" ng-click="doLogin()">Entrar</button>
    </form>

</div> <!-- /container -->